@import 'tailwindcss';

body {
  background-color: #fff;
}

.container {
  position: relative;
  max-width: 420px;
  margin: 0 auto;
  padding: 60px 10px 20px 10px;
}

.completedIcon {
  background-color: red;
}

.completedIcon circle {
  background-color: red;
}
